absl-py
altair
annotated-types
anyio
appnope
asttokens
astunparse
attrs
backcall
blinker
build
CacheControl
cachetools
catboost
certifi
cffi
charset-normalizer
cleo
click
cloudpickle
comm
contourpy
crashtest
cycler
debugpy
decorator
dill
distlib
dulwich
et-xmlfile
exceptiongroup
executing
fastapi
filelock
Flask
Flask-Cors
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h11
h5py
hyperopt
idna
importlib-metadata
importlib-resources
installer
ipykernel
ipython
itsdangerous
jaraco.classes
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
keyring
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
more-itertools
msgpack
nest-asyncio
networkx
numpy
oauthlib
openpyxl
opt-einsum
packaging
pandas
parso
patsy
pexpect
pickleshare
Pillow
pkginfo
platformdirs
plotly
poetry
poetry-core
poetry-plugin-export
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
py4j
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
Pympler
pyparsing
pyproject_hooks
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
rapidfuzz
referencing
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
shell
shellingham
smmap
sniffio
stack-data
starlette
statsmodels
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow>=2.0,<3.0
termcolor
threadpoolctl
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
trove-classifiers
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
virtualenv
wcwidth
Werkzeug
wrapt
xattr
xgboost
zipp
